.left {
    text-align: left;
    margin-top: 5px;
}

#overview-div {
    margin-left: 10px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    text-align: left;
}

.right {
    text-align: right;
    position: absolute;
    right: 10px;
}

.right button {
    width: 100%;
    display: block;
    margin-top: 5px;
}

.delete-btn {
    margin-left: 5px;
}


